body {
	background: #fff; 
}

input[type="text"] {
	border: solid 1px #ddd;
	border-radius: 3px;
	padding: 5px;
}

.todo-item {
	color: #ccc;
}

.is-done {
	color: #0a0;
}

.todo {
	a {
		color: #f90;
		cursor: pointer;
		text-decoration: underline;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: solid 1px #ddd;
			padding: 3px 0;
		}
	}
}

.todo-input {
	background: #dedede;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 7px;
	margin: 10px 0;
	width: 100%;

	input {
		box-sizing: border-box;
		font: 14px "Helvetica Neue", arial;
		padding: 5px;
		width: 100%;
	}
}